# Игнорируем файлы и папки, которые не нужны в репозитории

# Миграции Django
**/migrations/*.py
**/migrations/*.pyc
**/__pycache__/*.py
**/__pycache__/*.pyc

# SQLite база данных
db.sqlite3

# Папка виртуального окружения
.venv/
venv/
env/
ENV/

# Файлы конфигурации
.env

# Логи
*.log

# Папки, связанные с IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db
